<div class="ficheMembre">
	<div class="prenom"><%= adresses.prenom %></div>
	<div class="nom"><%= adresses.nom %></div>
	<div class="telephone"><%= adresses.telephone %></div>
	<div class="courriel"><%= adresses.courriel %></div>
	<div class="ville"><%= adresses.ville %></div>
</div>